
Classes/.DS_Store

.DS_Store
FlipView.xcodeproj/project.xcworkspace/contents.xcworkspacedata
FlipView.xcodeproj/project.xcworkspace/xcuserdata/benmcginnis.xcuserdatad/UserInterfaceState.xcuserstate
FlipView.xcodeproj/project.xcworkspace/xcuserdata/benmcginnis.xcuserdatad/WorkspaceSettings.xcsettings
FlipView.xcodeproj/xcuserdata/benmcginnis.xcuserdatad/xcschemes/FlipView.xcscheme
FlipView.xcodeproj/xcuserdata/benmcginnis.xcuserdatad/xcschemes/xcschememanagement.plist
